html,body {
    box-sizing: border-box;
    font-size: calc(1em + 1vw);
    width: 100%;
    scroll-behavior: smooth;
    background-color: #dbdbdb;
    
}


/* font-family: 'Bebas Neue';*/
/* font-family: 'Montserrat'; 100, 300, 600*/
/* font-family: 'Roboto'; 300*/
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px black;
}

nav {
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    color: white;
    /* box-shadow: 1px 1px 4px black; */
    position: fixed;
    z-index: 3;
}

nav .brand {
    margin-top: 0.1em;
    height: inherit;
    font-family: 'Roboto';
    line-height: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

nav .brand a {
    display: grid;
    grid-template-areas: 
        "img name"
        "img description";
}

nav .brand img {
    grid-area: img;
}

nav .brand img, footer .logo {
    filter: invert(1);
    height: 1em;
    width: 1em;
    margin-right: 0.2em;
}

nav .brand h1 {
    grid-area: name;
}

nav .brand h1, footer .name h1 {
    font-size: 0.6em;
    font-family: 'Roboto';
    font-weight: 600;
    letter-spacing: 1px;
}

nav .brand h5 {
    grid-area: description;
}

nav .brand h5, footer .name h5 {
    font-size: 0.3em;
    font-family: 'Roboto';
    font-weight: 100;
}

nav .nav-links-container {
    position: relative;
    height: inherit;
}

nav .nav-links-container .hamburger {
    width: 60px;
    height: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-right: 1em;
    z-index: 3;    
}

nav .nav-links-container .hamburger span {
    transition: 0.3s;
    width: 100%;
    height: 10%;
    background-color: white;
    border-radius: 3px;
    transform: rotate(0);
}

nav .nav-links-container #hamburger-checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    right: 1em;
}

nav .nav-links-container .hamburger span:nth-child(3) {
    transform: rotate(-180deg);
}

nav .nav-links-container #hamburger-checkbox:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(200%) rotate(45deg);
}

nav .nav-links-container #hamburger-checkbox:checked ~ .hamburger span:nth-child(2) {
    display: none;
}

nav .nav-links-container #hamburger-checkbox:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-160%) rotate(-45deg);
}

nav .nav-links-container #hamburger-checkbox:checked ~ ul.nav-links {
    display: flex;
    transform: translateX(0%);
}

nav .nav-links-container ul.nav-links {
    height: 100%;
}

nav .nav-links-container ul.nav-links li.nav-link {
    font-family: 'Roboto';
}
nav .nav-links-container ul.nav-links li.nav-link a {
    transition: 0.2s;   
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

nav .nav-links-container ul.nav-links li.nav-link a img {
    height: 1em;
    width: 1em;
    filter: invert(1);
    margin-right: 0.3em;
    transition: 0.2s;
}

nav .nav-links-container ul.nav-links li.nav-link a:hover {
    color: rgb(160, 160, 160);
}

nav .nav-links-container ul.nav-links li.nav-link a:hover img {
    filter: invert(0.6);
}

@media (min-width:800px) {
    nav {
        height: 2em;
    }

    nav .brand {
        margin-left: 3em;
    }

    nav .nav-links-container ul.nav-links {
        display: flex;
        margin-right: 0.5em;
    }
    
    nav .nav-links-container ul.nav-links li.nav-link {
        font-size: 0.4em;
        height: 100%;
    }

    nav .nav-links-container ul.nav-links li.nav-link a {
        padding: 2em 2em 2em 2em;
    }

    nav .nav-links-container .hamburger, nav .nav-links-container #hamburger-checkbox {
        display: none;
    }
}

@media (max-width:800px) {
    nav {
        height: 2.5em;
        background-color: rgb(32, 32, 32);
        box-shadow: 1px 1px 4px black;
    }
    nav .brand {
        margin-left: 0.3em;
        font-size: 2em;
    }

    nav .nav-links-container ul.nav-links {
        display: flex;
        position: fixed;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-image: linear-gradient(45deg, rgb(59, 59, 59), rgb(41, 41, 41));
        box-shadow: 1px 1px 5px rgb(27, 27, 27);     
        transition: 0.5s;
        will-change: transform;
        transform: translateX(100%);   
    }

    nav .nav-links-container ul.nav-links li.nav-link {
        box-shadow: 0px 0px 2px black;
        width: 100%;
    }

    nav .nav-links-container ul.nav-links li.nav-link a {
        padding: 1.5em 2em 1.5em 2em;
    }

    nav .nav-links-container .hamburger {
        display: flex;
    }

    .hamburger, nav .nav-links-container #hamburger-checkbox {
        display: block;
    }
}

.header {
    height: 100vh;
    /* background-image: linear-gradient(45deg, rgb(70, 70, 70), rgb(82, 82, 82)); */
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 4px black;
    text-align: center; 
    background-image: url("img/banner-jpg2-test.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    backdrop-filter: brightness(0.3) blur(5px);
}


.header .header-item {
    color: white;
    position: relative;
    margin-bottom: 3em;
    /* padding: 5em; */
}

.header .header-item h1 {
    font-family: 'Montserrat';
    font-weight: 600;
}

.header .header-item h5 {
    margin-top: 0.5em;
    font-family: 'Montserrat';
    font-weight: 300;
}

@media (min-width:800px) {
    .header .header-item {
        padding: 5em;
    }
}

@media (max-width:800px) {
    .header .header-item {
        padding: 1em;
    }
}

.whyus {
    position: relative;
    /* box-shadow: 0.4px 0.4px 4px black; */  
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.whyus .comments {
    display: grid;
    grid-gap: 0.3em;
    grid-template-rows: auto auto auto;
    z-index: 2;
}

.whyus .comments .comment-container {
    box-shadow: 0px 0px 5px gray;
    width: 12em;
    height: auto;
    display: grid;
    grid-template-areas:
        "author stars"
        "contents contents"
        "date votes";
    padding: 0.5em 0em 0 0.5em;
    background-color: rgb(255, 255, 255);
}

.whyus .comments .more {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.whyus .comments .more a {
    transition: 0.3s;
    font-size: 0.35em;
    text-align: end;   
    font-family: 'Roboto';
    font-weight: 100;
    color: rgb(243, 243, 243);
    text-shadow: 0px 0px 1px rgb(54, 54, 54);
}

.whyus .comments .more a:hover {
    color: rgb(156, 156, 156);
}

.comment-container .author {
    grid-area: author;
    justify-self: start;  
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 0.6em;
}

.comment-container .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    margin-right: 0.5em;
}

.comment-container .stars .star-container {
    width: 0.5em;
    height: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.comment-container .stars .star-container img {
    width: 100%;
    height: 100%;  
    opacity: 1;
}

.comment-container .stars .disabled::before{
    content: "";
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: absolute;  
    z-index: 1;
    filter: drop-shadow(1px 1px 5px red);
    background-image: url(img/star-icon.svg);
    filter: brightness(30%);  
}

.comment-container .contents {
    grid-area: contents;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.4em;
}

.comment-container .date {
    grid-area: date;
    color: rgb(70, 70, 70);
    justify-self: start;   
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 0.3em;
}

.comment-container .votes {
    grid-area: votes;
    justify-self: end;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 0.4em;
    display: flex;    
}

.comment-container .votes .upvote, 
.comment-container .votes .downvote {
   padding: 0.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   width: 4em;
}

.comment-container .votes .upvote .span-container span, 
.comment-container .votes .downvote .span-container span {
    position: absolute;
    width: 0.2em;
    height: 1em;
    background-color: rgb(128, 128, 128);
    transition: 0.3s;
}

.comment-container .votes .upvote span:nth-of-type(1), 
.comment-container .votes .downvote .span-container span:nth-of-type(1) {
    transform: translateX(0) rotate(-55deg);   
}

.comment-container .votes .upvote span:nth-of-type(2), 
.comment-container .votes .downvote .span-container span:nth-of-type(2) {
    transform: translateX(0.7em) rotate(55deg);
}

.comment-container .votes .upvote .span-container {
    transform: translateX(0.4em) translateY(0.5em) rotate(180deg);
}
.comment-container .votes .downvote .span-container {
    transform:  translateX(-0.4em) translateY(-0.5em);
}

.comment-container .votes .upvote:hover .span-container span,
.comment-container .votes .downvote:hover .span-container span {
    background-color: rgb(0, 0, 0);
}

.comment-container .votes .upvote:hover .amount,
.comment-container .votes .downvote:hover .amount {
    color: rgb(0, 0, 0);
}

.comment-container .votes .upvote .amount, 
.comment-container .votes .downvote .amount {
    transition: 0.3s;
    margin-left: 1.5em;
    font-size: 0.9em;
    color: rgb(128, 128, 128);
}

@media (min-width:800px) {
    .whyus .comments {
        grid-template-columns: auto auto;
    }
    
    .whyus .comments .more {
        grid-column: 1/3;
    }
}

@media (max-width:800px) {
    .whyus .comments {
        grid-template-columns: auto;
    }
}

.offer {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #354d56;
    z-index: 2;
    /* box-shadow: 0px 0px 4px black; */
}

.offer::before {
    content: "";
    left: 0; bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #19323C;
    /* filter: drop-shadow(0px 0px 2px black); */
}

.offer .headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    /* text-shadow: 0.3px 0.3px 5px gray; */
}

.offer .headers h1 {
    font-family: 'Montserrat';
    font-weight: 600;
}

.offer .headers .offer-desc {
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5em;
    position: relative;
}

.cards-container .card {
    width: 7em;
    height: 7em;
    padding: 0 1em 0 1em;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards-container .card img {
    width: 3em;
}

.cards-container .card h5 {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 0.4em;
}

.whyus #whyus-target, .offer #offer-target {
    position: absolute;
    left: 0;
}

@media (min-width:1000px) {
    .offer {
        padding: 1em 6em 2em 6em !important;
    }
}
@media (min-width:800px) {
    .offer {
        padding: 1em 4em 2em 4em;
    }

    .offer::before {
        height: 6em;
    }

    .offer .headers h1 {
        font-size: 0.8em;
        font-family: 'Roboto';
        font-weight: 600;
    }

    .offer .headers .offer-desc {
        margin-top: 1em;
        font-size: 0.4em;
        color: rgb(248, 248, 248);
        text-shadow: 0px 0px 20px rgb(24, 24, 24);
    }

    .cards-container .card {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    .cards-container .card * {
        transition: 0.2s;
        will-change: transform;
    }

    .cards-container .card:hover * {
        transform:scale(1.2);
    }
}

@media (max-width:800px) {
    .offer {
        padding: 2em;
    }

    .offer::before {
        height: 50%;
    }

    .offer .headers h1 {
        font-size: 1.3em;
    }

    .offer .headers .offer-desc {
        font-size: 0.8em;
        margin-top: 1em;
    }

    .cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-justify: inter-word;   
    }

    .cards-container .card {
        margin-top: 1em;
        width: 100%;
    }

    .cards-container .card h5 {
        font-size: 0.7em;
    }
}



footer.contact {
    height: auto;
    position: relative;
    color: white;
    display: flex;   
}

footer.contact::before {
    z-index: 0;
    content: "";
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: absolute;
    background-image: url("img/banner-jpg.jfif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.2);   
}

footer.contact .left-side, 
footer.contact .right-side {
    z-index: 1;
    height: 100%;   
}

footer.contact .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* font-size: 0.8em; */
}

footer.contact .left-side .brand {
    display: flex; 
}

footer.contact .left-side .brand .logo {
    width: 2em;
    height: 2em;
}

footer.contact .left-side .brand .name {
    font-size: 2em;
    line-height: 0.5em;
}

footer.contact .left-side .description {
    font-family: 'Roboto';
    font-weight: 100;
    margin-top: 2em;
}

footer.contact .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
}
footer.contact .right-side .contact-detail {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 600;
}

footer.contact .right-side .contact-detail img {
    width: 1em;
    height: 1em;
    filter: invert(1);
    margin-right: 0.5em;
}

@media (min-width:800px) { 
    footer.contact {
        padding: 0em 0em 1em 0em;
        width: 95vw;
        margin: 2.5vw;
        box-shadow: 0px 0px 5px black;
    }

    footer.contact .left-side, footer.contact .right-side {
        width: 50%;
        min-height: 60vh;
    }

    footer.contact .left-side {
        padding: 0em 2em 0em 1em; 
    }

    footer.contact .left-side .description {
        padding-right: 5em;
        font-size: 0.4em;
    }

    footer.contact .right-side {
        font-size: 0.7em;
        padding: 1em 2em 0em 0.5em; 
    }
}

@media (max-width:800px) {
    footer {
        padding: 1em 0em 2em 0em;
    }

    footer.contact {
        flex-direction: column;
        width: 100%;
    }

    footer.contact .left-side .brand {
        font-size: 1.5em;
    }

    footer.contact .left-side .description {
        font-size: 0.7em;
    }

    footer.contact .left-side, footer.contact .right-side {
        width: 100%;
        padding: 1em;
        font-size: 5.5vw;
    }
}

